<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-success pull-right margin-left" (click)="chartViewData()">Chart View</button>
        <button class="btn btn-default pull-right" (click)="tableViewData()">Table View</button>
    </div>
</div>
<p-panel header="Last Seven Days" [hidden]="!tableView">
    <p-dataTable [value]="salesInfos">
        <p-column field="card" header="Card"></p-column>
        <p-column field="retail" header="Retail"></p-column>
        <p-column field="total" header="Total"></p-column>
    </p-dataTable>
</p-panel>
<p-panel header="Last Seven Days" [hidden]="!chartView">
    <p-chart type="bar" [data]="lastSevenDays"></p-chart>
</p-panel>